@font-face {
    font-family: 'Norse Bold';
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: "Roboto Medium";
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

form {
    margin-top: 10%;
    width: 500px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-family: "Roboto Medium", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}

input {
    margin-bottom: 4px;
    background-color: lightgray;
    width: 50%;
    padding: 8px;
    border: solid 3px rgb(135, 135, 135);
    border-radius: 10px;
}

input:hover {
    box-shadow: 0px 0px 5px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 10px;
    border: solid 3px rgb(120, 120, 120);
}

button {
    position: relative;
    left: 5%;
    top: 15%;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(89, 109, 72);
    border: 0px;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#library {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 20px;
}

.bookCard {
    border: solid 2px rgb(89, 109, 72);
    border-radius: 10px;
    width: 300px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardBody .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: auto;
}

.buttonContainer button {
    width: 90%;
}